*,
*::after,
*::before{


    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}


.mainContainer{
    width: 750;
    height: 100vh;
    border: red 2px solid;

    display: grid;
    grid-template-rows: 50px 1fr;
    justify-content: center;
    align-items: center;
}
.buttonContainer{
    display: grid;
    justify-content: center;
}
button{
     width: 100px;
    height: 50px;
}

.bookEntryLegend{

    

    
    
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(3, 80px);

}
.bookInfo{
    /* border: solid 2px blue; */
    height: 30px;
    justify-self: center;
    align-self: center;
    /* border: solid 1px red; */

   



}

label{
    display: inline-block;
    min-width: 50px;
    text-align: right;
    /* border: solid green 5px; */


}